/*  script for color */
div {
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
}

navbar navbar-expand-lg navbar-dark bg-primary {
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
}
navbar navbar-default navbar-fixed-top {
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
}
#navbar {
  background: var(--mybackgroundcolor) !important;
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
}
.navbar-default {
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
}

#navbar > ul:nth-child(1) > li.active > a {
  background-color: white !important;
  color: var(--mybackgroundcolor) !important;
}
#navbar > ul:nth-child(1) > li.dropdown.open > a {
  background-color: white !important;
  color: var(--mybackgroundcolor) !important;
}
#navbar > ul:nth-child(1) > li.dropdown.open > ul > li:nth-child(1) > a {
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
  text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
  text-decoration: none;
  outline: 0;
}

body {
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
}

/* script for centering titles */
h1 {
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
  text-align: center;
  font-weight: bold;
}
h1.title {
  text-align: center;
  font-weight: bold;
}
h2 {
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
  text-align: center;
  font-weight: bold;
}
h3 {
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
  text-align: center;
  font-weight: bold;
}
p {
  background-color: var(--mybackgroundcolor) !important;
  color: white !important;
}

/* script for removing background shading of carousel controls */
.carousel-control.left {
    background-image: none !important;
    background-color: none !important;
    background: none !important;
    filter: none !important;
    progid: none !important;
}
.carousel-control.right {
    background-image: none !important;
    background-color: none !important;
    background: none !important;
    filter: none !important;
    progid: none !important;
}
.carousel-control {
  opacity: 0.01;
}
.carousel-control:hover {
  opacity: 0.01;
}