/* wide container HEADER */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* wide container BODY */
div.container-fluid.main-container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  max-width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}